<tr class="footer first">
  <td class="logo-wrapper">
      <img src='{{LOGO_URL}}' alt='Tumbleweed' class='logo' />
  </td>
</tr>

<tr class="footer spacer-xs">
  <td>&nbsp;</td>
</tr>

<tr class="footer last">
  <td class="footer-text">
    Tumbleweed is either a registered trademark or trademarks of Bailey AG, LLC in the United States and/or
    other countries.
    <br /><br />
    This is not a comprehensive list of all Bailey AG trademarks. All other trademarks are the property of their
    respective owners.
    <br /><br />
    <span class='copyright'>© 2025 Tumbleweed 1415 Forest Dr Chillicothe, MO 64601. All rights reserved.</span>
  </td>
</tr>