<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <title>Confirm Your Email</title>
    <!--[if mso]>
    <noscript>
        <xml>
            <o:OfficeDocumentSettings>
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    </noscript>
    <![endif]-->
  {{> styles}}
  </head>
  <body>
    <div class='email-container'>
      <div class='content-wrapper'>
        <div class='content'>
          <div class='main-content'>
            <!-- Logo -->
            <div class='logo-wrapper'>
              <img src='{{LOGO_URL}}' alt='Tumbleweed' class='logo' />
            </div>

            <!-- Main Content -->
            <div class='text-content'>
              <div class='title'>Your verification code is:</div>
              <div class='code'>{{code}}</div>
              <div class='body-text'>
                Your account is protected — this verification code is required to access it, even if you didn't request
                it.
              </div>
              <div class='body-text'>
                To keep your account secure, we recommend using a unique password for your Tumbleweed login. For added
                security and convenience, enable Tumbleweed two-factor authentication — it lets you sign in easily
                without needing to remember or update your password.
              </div>
            </div>
          </div>

          <!-- Support Section -->
          <div class='support-section'>
            <div class='support-text'>
              Need a hand?
              <a href='{{SUPPORT_LINK}}'>Reach out to Support</a>
              — we're happy to help.
            </div>
          </div>
        </div>
      </div>

      {{> footer1}}

    </div>
  </body>
</html>